# Core Application
PyYAML==6.0.1
setuptools>=70.1.0
wheel
flask
flask-cors
flask-sqlalchemy
flask-limiter
psycopg2-binary
sqlalchemy
werkzeug
numpy==1.26.4
scipy
pandas
alembic
gunicorn
scikit-learn
dask
distributed
salmon-triplets
Jinja2==3.0.3
pydantic==1.10.15
# Linting/Testing
flake8
bandit
pytest
pytest-flask